* {
    margin: 0;
    box-sizing: border-box;
}

.Footer {

    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: #123;
    height: 10vh;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    color: #f2f2f2;
}

.social a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 2em;
    font-size: 20px;
}